.header {
  background-color: #fff !important;
}

.content {
  width: 50% !important;
  background-color: #fff;
}

.sider {
  flex: 0 0 30vw !important;
  width: 30vw !important;
  min-width: 30vw !important;
  max-width: 30vw !important;
  padding-left: 2vw;
}
